@import 'variables';
@import 'mixins';

footer {
  @include prefix(background-image, linear-gradient(135deg, $black-gradient-start, $black-gradient-end));
  padding: 30px 0;

  & .container {
    @include display-flex();
    @include justify-content-distribute();
  }
}

.footer-contact {
  width: 50%;
  padding-left: 10px;

  a {
    @include transition(300ms);
    @include prefix(opacity, .2);
    color: white;
    font-size: 1.2em;
    font-family: $secondary-font;
    text-decoration: none;
    line-height: .6em;

    &:hover {
      @include prefix(opacity, 1);
    }
  }
}

.footer-label {
  font-size: .8em;
}

.footer-social {
  width: 50%;
  height: 30px;
  text-align: right;
  padding-right: 10px;
  padding-top: 10px;
}

.social-icons {
  @include transition(300ms);
  @include prefix(opacity, .2);
  width: 24px;
  height: 24px;
  display: inline-block;
  background-position: 3.5% 4px;
  background-size: cover;
  background-image: url('../images/social-icons.svg');
  border-radius: 2px;
  margin-right: 4px;

  &:hover {
    @include prefix(transform, scale(1.5));
    @include prefix(opacity, 1);
  }
}

.icon-linkedin {
  background-position: 90% 4px;
}

.icon-twitter {
  background-position: 33% 4px;
}
