/*
Colors
*/
$green:                            #00d7c4;
$yellow:                           #ffd300;
$orange:                           #ff5403;
$brown:                            #aa5e1d;
$light-gray:                       #888;
$gray:                             #ccc;

/*
Gradient colors
*/
$orange-gradient-start:            #ff5403;
$orange-gradient-end:              #b40000;
$green-gradient-start:             #00d7c4;
$green-gradient-end:               #037a75;
$yellow-gradient-start:            #ffd300;
$yellow-gradient-end:              #f19b00;
$brown-gradient-start:             #fbecd5;
$brown-gradient-end:               #ebcea7;
$black-gradient-start:             #3d3d3d;
$black-gradient-end:               #000000;

/*
Fonts
*/
$primary-font:                     'Source Sans Pro', sans-serif;
$secondary-font:                   Montserrat, sans-serif;
